node_modules/
.yarn/
.cache/
public/
coverage/
mobile/
static/
.idea/
*.log
*.md
*.php
*.snap
*.svg
*.png
*.json
*.d.ts
*.svg
*.yml
*.jpg
*.gif
*.txt
*.xml
*.crt
*.key
*.conf
*.min.js
*.min.css
.pnp.js
packages/widgets/
